cbsADFDemo/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "cbsADFDemo"
		},
		"Archive Blob Container_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Archive Blob Container'"
		},
		"AzureDatabricks1_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'AzureDatabricks1'"
		},
		"ComplaintsBlobZip_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ComplaintsBlobZip'"
		},
		"MyAzureBlobLinkedService_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'MyAzureBlobLinkedService'"
		},
		"MyDataBricksLinkedService_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'MyDataBricksLinkedService'"
		},
		"cseferlistestdb1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'cseferlistestdb1'"
		},
		"destComplaintsDB_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'destComplaintsDB'"
		},
		"df_demo_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'df_demo'"
		},
		"sqldbAWLT_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'sqldbAWLT'"
		},
		"srcComplaintsBlob_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'srcComplaintsBlob'"
		},
		"src_sqldbAWLT_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'src_sqldbAWLT'"
		},
		"staging_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'staging'"
		},
		"ArchiveBlob_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "@concat('FLAT_CMPL',string(utcnow()),'.zip')"
		},
		"ArchiveBlob_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "complaintsarchive"
		},
		"destComplaintsZipBlob_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": ""
		},
		"destComplaintsZipBlob_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "adfdemoblob"
		},
		"srcComplaintsBlob_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "FLAT_CMPL.zip"
		},
		"srcComplaintsBlob_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "adfdemoblob/downloads/folders/Complaints"
		},
		"srcComplaintsBlobZip_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "FLAT_CMPL.zip"
		},
		"srcComplaintsBlobZip_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "adfdemoblob/downloads/folders/Complaints"
		},
		"ComplaintsSourceZip_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://www-odi.nhtsa.dot.gov"
		},
		"ComplaintsSourceZip_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": ""
		},
		"NHTSADownload_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://www-odi.nhtsa.dot.gov"
		},
		"Daily Update_properties_ComplainsCopyFromWebToBlob_parameters_receiver": {
			"type": "string",
			"defaultValue": "cseferlis@gmail.com"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Archive Files')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyFileToArchive",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "BlobSink",
								"copyBehavior": "FlattenHierarchy"
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "srcComplaintsBlobZip",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ArchiveBlob",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"folder": {
					"name": "SR"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/srcComplaintsBlobZip')]",
				"[concat(variables('factoryId'), '/datasets/ArchiveBlob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ComplainsCopyFromWebToBlob')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Truncate CMPL Temp",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Truncate_CMPL_Temp]"
						},
						"linkedServiceName": {
							"referenceName": "cseferlistestdb1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Send Success Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Send Zip to Archive",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-02.eastus.logic.azure.com:443/workflows/8c6774ef72b341d49e189c6d9fc7227e/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=qsZ8iz5TeG70Iaf54sQ--KlybPeTAbpRgph4Emknezk",
							"method": "POST",
							"headers": {
								"Content-Type": "Application/json"
							},
							"body": {
								"dataFactoryName": "@{pipeline().DataFactory}",
								"pipelineName": "@{pipeline().Pipeline}",
								"receiver": "@pipeline().parameters.receiver"
							}
						}
					},
					{
						"name": "Send Failure Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Truncate CMPL Temp",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "Union Complaints and tmpComplaints",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "Move from Http to Blob as zip",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "Unzip to SQL CMPL_Temp",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "Send Zip to Archive",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-03.eastus.logic.azure.com:443/workflows/8355738f60d84cce99d60f0dcb94cb4f/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=tdhxl4qxE72wxNMX6dxFoNdAlcVfsmz1_3khFhhtDYU",
							"method": "POST",
							"headers": {
								"Content-Type": "Application/json"
							},
							"body": {
								"dataFactoryName": "@{pipeline().DataFactory}",
								"pipelineName": "@{pipeline().Pipeline}",
								"receiver": "@pipeline().parameters.receiver"
							}
						}
					},
					{
						"name": "Union Complaints and tmpComplaints",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Unzip to SQL CMPL_Temp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Union Complaints and tmpComplaints",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"sqlComplaints": {},
									"sqlCMPLTemp": {},
									"destComplaints": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Move from Http to Blob as zip",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Truncate CMPL Temp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "srcComplaintsHttpZip",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "destComplaintsZipBlob",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Unzip to SQL CMPL_Temp",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Move from Http to Blob as zip",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true
						},
						"inputs": [
							{
								"referenceName": "srcComplaintsBlob",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "destComplaintsSQLTempTbl",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Send Zip to Archive",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Union Complaints and tmpComplaints",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "srcComplaintsBlobZip",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ArchiveBlob",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"parameters": {
					"receiver": {
						"type": "String",
						"defaultValue": "cseferlis@gmail.com"
					}
				},
				"folder": {
					"name": "SR"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/cseferlistestdb1')]",
				"[concat(variables('factoryId'), '/dataflows/Union Complaints and tmpComplaints')]",
				"[concat(variables('factoryId'), '/datasets/srcComplaintsHttpZip')]",
				"[concat(variables('factoryId'), '/datasets/destComplaintsZipBlob')]",
				"[concat(variables('factoryId'), '/datasets/srcComplaintsBlob')]",
				"[concat(variables('factoryId'), '/datasets/destComplaintsSQLTempTbl')]",
				"[concat(variables('factoryId'), '/datasets/srcComplaintsBlobZip')]",
				"[concat(variables('factoryId'), '/datasets/ArchiveBlob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ArchiveBlob')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Archive Blob Container",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SR"
				},
				"annotations": [],
				"type": "AzureBlob",
				"typeProperties": {
					"fileName": {
						"value": "[parameters('ArchiveBlob_properties_typeProperties_fileName')]",
						"type": "Expression"
					},
					"folderPath": "[parameters('ArchiveBlob_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Archive Blob Container')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/destComplaintsSQLTempTbl')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "cseferlistestdb1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SR"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "CMPLID",
						"type": "String"
					},
					{
						"name": "ODINO",
						"type": "String"
					},
					{
						"name": "MFR_NAME",
						"type": "String"
					},
					{
						"name": "MAKETXT",
						"type": "String"
					},
					{
						"name": "MODELTXT",
						"type": "String"
					},
					{
						"name": "YEARTXT",
						"type": "String"
					},
					{
						"name": "CRASH",
						"type": "String"
					},
					{
						"name": "FAILDATE",
						"type": "String"
					},
					{
						"name": "FIRE",
						"type": "String"
					},
					{
						"name": "INJURED",
						"type": "Decimal"
					},
					{
						"name": "DEATHS",
						"type": "Decimal"
					},
					{
						"name": "COMPDESC",
						"type": "String"
					},
					{
						"name": "CITY",
						"type": "String"
					},
					{
						"name": "STATE",
						"type": "String"
					},
					{
						"name": "VIN",
						"type": "String"
					},
					{
						"name": "DATEA",
						"type": "String"
					},
					{
						"name": "LDATE",
						"type": "String"
					},
					{
						"name": "MILES",
						"type": "Decimal"
					},
					{
						"name": "OCCURENCES",
						"type": "Decimal"
					},
					{
						"name": "CDESCR",
						"type": "String"
					},
					{
						"name": "CMPL_TYPE",
						"type": "String"
					},
					{
						"name": "POLICE_RPT_YN",
						"type": "String"
					},
					{
						"name": "PURCH_DT",
						"type": "String"
					},
					{
						"name": "ORIG_OWNER_YN",
						"type": "String"
					},
					{
						"name": "ANTI_BRAKES_YN",
						"type": "String"
					},
					{
						"name": "CRUISE_CONT_YN",
						"type": "String"
					},
					{
						"name": "NUM_CYLS",
						"type": "Decimal"
					},
					{
						"name": "DRIVE_TRAIN",
						"type": "String"
					},
					{
						"name": "FUEL_SYS",
						"type": "String"
					},
					{
						"name": "FUEL_TYPE",
						"type": "String"
					},
					{
						"name": "TRANS_TYPE",
						"type": "String"
					},
					{
						"name": "VEH_SPEED",
						"type": "Decimal"
					},
					{
						"name": "DOT",
						"type": "String"
					},
					{
						"name": "TIRE_SIZE",
						"type": "String"
					},
					{
						"name": "LOC_OF_TIRE",
						"type": "String"
					},
					{
						"name": "TIRE_FAIL_TYPE",
						"type": "String"
					},
					{
						"name": "ORIG_EQUIP_YN",
						"type": "String"
					},
					{
						"name": "MANUF_DT",
						"type": "String"
					},
					{
						"name": "SEAT_TYPE",
						"type": "String"
					},
					{
						"name": "RESTRAINT_TYE",
						"type": "String"
					},
					{
						"name": "DEALER_NAME",
						"type": "String"
					},
					{
						"name": "DEALER_TEL",
						"type": "String"
					},
					{
						"name": "DEALER_CITY",
						"type": "String"
					},
					{
						"name": "DEALER_STATE",
						"type": "String"
					},
					{
						"name": "DEALER_ZIP",
						"type": "String"
					},
					{
						"name": "PROD_TYPE",
						"type": "String"
					},
					{
						"name": "REPAIRED_YN",
						"type": "String"
					},
					{
						"name": "MEDICAL_ATTN",
						"type": "String"
					},
					{
						"name": "VEHICLES_TOWED_YN",
						"type": "String"
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[CMPL_Temp]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/cseferlistestdb1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/destComplaintsZipBlob')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ComplaintsBlobZip",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SR"
				},
				"annotations": [],
				"type": "AzureBlob",
				"typeProperties": {
					"fileName": "[parameters('destComplaintsZipBlob_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('destComplaintsZipBlob_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ComplaintsBlobZip')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/srcCMPL_Temp')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "cseferlistestdb1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SR"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Complaints_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CMPLID",
						"type": "nvarchar"
					},
					{
						"name": "ODINO",
						"type": "nvarchar"
					},
					{
						"name": "MFR_NAME",
						"type": "nvarchar"
					},
					{
						"name": "MAKETXT",
						"type": "nvarchar"
					},
					{
						"name": "MODELTXT",
						"type": "nvarchar"
					},
					{
						"name": "YEARTXT",
						"type": "nvarchar"
					},
					{
						"name": "CRASH",
						"type": "nvarchar"
					},
					{
						"name": "FAILDATE",
						"type": "nvarchar"
					},
					{
						"name": "FIRE",
						"type": "nvarchar"
					},
					{
						"name": "INJURED",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "DEATHS",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "COMPDESC",
						"type": "nvarchar"
					},
					{
						"name": "CITY",
						"type": "nvarchar"
					},
					{
						"name": "STATE",
						"type": "nvarchar"
					},
					{
						"name": "VIN",
						"type": "nvarchar"
					},
					{
						"name": "DATEA",
						"type": "nvarchar"
					},
					{
						"name": "LDATE",
						"type": "nvarchar"
					},
					{
						"name": "MILES",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "OCCURENCES",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "CDESCR",
						"type": "nvarchar"
					},
					{
						"name": "CMPL_TYPE",
						"type": "nvarchar"
					},
					{
						"name": "POLICE_RPT_YN",
						"type": "nvarchar"
					},
					{
						"name": "PURCH_DT",
						"type": "nvarchar"
					},
					{
						"name": "ORIG_OWNER_YN",
						"type": "nvarchar"
					},
					{
						"name": "ANTI_BRAKES_YN",
						"type": "nvarchar"
					},
					{
						"name": "CRUISE_CONT_YN",
						"type": "nvarchar"
					},
					{
						"name": "NUM_CYLS",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "DRIVE_TRAIN",
						"type": "nvarchar"
					},
					{
						"name": "FUEL_SYS",
						"type": "nvarchar"
					},
					{
						"name": "FUEL_TYPE",
						"type": "nvarchar"
					},
					{
						"name": "TRANS_TYPE",
						"type": "nvarchar"
					},
					{
						"name": "VEH_SPEED",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "DOT",
						"type": "nvarchar"
					},
					{
						"name": "TIRE_SIZE",
						"type": "nvarchar"
					},
					{
						"name": "LOC_OF_TIRE",
						"type": "nvarchar"
					},
					{
						"name": "TIRE_FAIL_TYPE",
						"type": "nvarchar"
					},
					{
						"name": "ORIG_EQUIP_YN",
						"type": "nvarchar"
					},
					{
						"name": "MANUF_DT",
						"type": "nvarchar"
					},
					{
						"name": "SEAT_TYPE",
						"type": "nvarchar"
					},
					{
						"name": "RESTRAINT_TYE",
						"type": "nvarchar"
					},
					{
						"name": "DEALER_NAME",
						"type": "nvarchar"
					},
					{
						"name": "DEALER_TEL",
						"type": "nvarchar"
					},
					{
						"name": "DEALER_CITY",
						"type": "nvarchar"
					},
					{
						"name": "DEALER_STATE",
						"type": "nvarchar"
					},
					{
						"name": "DEALER_ZIP",
						"type": "nvarchar"
					},
					{
						"name": "PROD_TYPE",
						"type": "nvarchar"
					},
					{
						"name": "REPAIRED_YN",
						"type": "nvarchar"
					},
					{
						"name": "MEDICAL_ATTN",
						"type": "nvarchar"
					},
					{
						"name": "VEHICLES_TOWED_YN",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[CMPL_Temp]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/cseferlistestdb1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/srcComplaints')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "destComplaintsDB",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SR"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Complaints_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CMPLID",
						"type": "nvarchar"
					},
					{
						"name": "ODINO",
						"type": "nvarchar"
					},
					{
						"name": "MFR_NAME",
						"type": "nvarchar"
					},
					{
						"name": "MAKETXT",
						"type": "nvarchar"
					},
					{
						"name": "MODELTXT",
						"type": "nvarchar"
					},
					{
						"name": "YEARTXT",
						"type": "nvarchar"
					},
					{
						"name": "CRASH",
						"type": "nvarchar"
					},
					{
						"name": "FAILDATE",
						"type": "nvarchar"
					},
					{
						"name": "FIRE",
						"type": "nvarchar"
					},
					{
						"name": "INJURED",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "DEATHS",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "COMPDESC",
						"type": "nvarchar"
					},
					{
						"name": "CITY",
						"type": "nvarchar"
					},
					{
						"name": "STATE",
						"type": "nvarchar"
					},
					{
						"name": "VIN",
						"type": "nvarchar"
					},
					{
						"name": "DATEA",
						"type": "nvarchar"
					},
					{
						"name": "LDATE",
						"type": "nvarchar"
					},
					{
						"name": "MILES",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "OCCURENCES",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "CDESCR",
						"type": "nvarchar"
					},
					{
						"name": "CMPL_TYPE",
						"type": "nvarchar"
					},
					{
						"name": "POLICE_RPT_YN",
						"type": "nvarchar"
					},
					{
						"name": "PURCH_DT",
						"type": "nvarchar"
					},
					{
						"name": "ORIG_OWNER_YN",
						"type": "nvarchar"
					},
					{
						"name": "ANTI_BRAKES_YN",
						"type": "nvarchar"
					},
					{
						"name": "CRUISE_CONT_YN",
						"type": "nvarchar"
					},
					{
						"name": "NUM_CYLS",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "DRIVE_TRAIN",
						"type": "nvarchar"
					},
					{
						"name": "FUEL_SYS",
						"type": "nvarchar"
					},
					{
						"name": "FUEL_TYPE",
						"type": "nvarchar"
					},
					{
						"name": "TRANS_TYPE",
						"type": "nvarchar"
					},
					{
						"name": "VEH_SPEED",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "DOT",
						"type": "nvarchar"
					},
					{
						"name": "TIRE_SIZE",
						"type": "nvarchar"
					},
					{
						"name": "LOC_OF_TIRE",
						"type": "nvarchar"
					},
					{
						"name": "TIRE_FAIL_TYPE",
						"type": "nvarchar"
					},
					{
						"name": "ORIG_EQUIP_YN",
						"type": "nvarchar"
					},
					{
						"name": "MANUF_DT",
						"type": "nvarchar"
					},
					{
						"name": "SEAT_TYPE",
						"type": "nvarchar"
					},
					{
						"name": "RESTRAINT_TYE",
						"type": "nvarchar"
					},
					{
						"name": "DEALER_NAME",
						"type": "nvarchar"
					},
					{
						"name": "DEALER_TEL",
						"type": "nvarchar"
					},
					{
						"name": "DEALER_CITY",
						"type": "nvarchar"
					},
					{
						"name": "DEALER_STATE",
						"type": "nvarchar"
					},
					{
						"name": "DEALER_ZIP",
						"type": "nvarchar"
					},
					{
						"name": "PROD_TYPE",
						"type": "nvarchar"
					},
					{
						"name": "REPAIRED_YN",
						"type": "nvarchar"
					},
					{
						"name": "MEDICAL_ATTN",
						"type": "nvarchar"
					},
					{
						"name": "VEHICLES_TOWED_YN",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Complaints"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/destComplaintsDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/srcComplaintsBlob')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "srcComplaintsBlob",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SR"
				},
				"annotations": [],
				"type": "AzureBlob",
				"structure": [
					{
						"name": "CMPLID",
						"type": "String"
					},
					{
						"name": "ODINO",
						"type": "String"
					},
					{
						"name": "MFR_NAME",
						"type": "String"
					},
					{
						"name": "MAKETXT",
						"type": "String"
					},
					{
						"name": "MODELTXT",
						"type": "String"
					},
					{
						"name": "YEARTXT",
						"type": "String"
					},
					{
						"name": "CRASH",
						"type": "String"
					},
					{
						"name": "FAILDATE",
						"type": "String"
					},
					{
						"name": "FIRE",
						"type": "String"
					},
					{
						"name": "INJURED",
						"type": "Decimal"
					},
					{
						"name": "DEATHS",
						"type": "Decimal"
					},
					{
						"name": "COMPDESC",
						"type": "String"
					},
					{
						"name": "CITY",
						"type": "String"
					},
					{
						"name": "STATE",
						"type": "String"
					},
					{
						"name": "VIN",
						"type": "String"
					},
					{
						"name": "DATEA",
						"type": "String"
					},
					{
						"name": "LDATE",
						"type": "String"
					},
					{
						"name": "MILES",
						"type": "Decimal"
					},
					{
						"name": "OCCURENCES",
						"type": "Decimal"
					},
					{
						"name": "CDESCR",
						"type": "String"
					},
					{
						"name": "CMPL_TYPE",
						"type": "String"
					},
					{
						"name": "POLICE_RPT_YN",
						"type": "String"
					},
					{
						"name": "PURCH_DT",
						"type": "String"
					},
					{
						"name": "ORIG_OWNER_YN",
						"type": "String"
					},
					{
						"name": "ANTI_BRAKES_YN",
						"type": "String"
					},
					{
						"name": "CRUISE_CONT_YN",
						"type": "String"
					},
					{
						"name": "NUM_CYLS",
						"type": "Decimal"
					},
					{
						"name": "DRIVE_TRAIN",
						"type": "String"
					},
					{
						"name": "FUEL_SYS",
						"type": "String"
					},
					{
						"name": "FUEL_TYPE",
						"type": "String"
					},
					{
						"name": "TRANS_TYPE",
						"type": "String"
					},
					{
						"name": "VEH_SPEED",
						"type": "Decimal"
					},
					{
						"name": "DOT",
						"type": "String"
					},
					{
						"name": "TIRE_SIZE",
						"type": "String"
					},
					{
						"name": "LOC_OF_TIRE",
						"type": "String"
					},
					{
						"name": "TIRE_FAIL_TYPE",
						"type": "String"
					},
					{
						"name": "ORIG_EQUIP_YN",
						"type": "String"
					},
					{
						"name": "MANUF_DT",
						"type": "String"
					},
					{
						"name": "SEAT_TYPE",
						"type": "String"
					},
					{
						"name": "RESTRAINT_TYE",
						"type": "String"
					},
					{
						"name": "DEALER_NAME",
						"type": "String"
					},
					{
						"name": "DEALER_TEL",
						"type": "String"
					},
					{
						"name": "DEALER_CITY",
						"type": "String"
					},
					{
						"name": "DEALER_STATE",
						"type": "String"
					},
					{
						"name": "DEALER_ZIP",
						"type": "String"
					},
					{
						"name": "PROD_TYPE",
						"type": "String"
					},
					{
						"name": "REPAIRED_YN",
						"type": "String"
					},
					{
						"name": "MEDICAL_ATTN",
						"type": "String"
					},
					{
						"name": "VEHICLES_TOWED_YN",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": "\t",
						"rowDelimiter": "\n",
						"quoteChar": "\"",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"compression": {
						"type": "ZipDeflate",
						"level": "Fastest"
					},
					"fileName": "[parameters('srcComplaintsBlob_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('srcComplaintsBlob_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/srcComplaintsBlob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/srcComplaintsBlobZip')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ComplaintsBlobZip",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SR"
				},
				"annotations": [],
				"type": "AzureBlob",
				"typeProperties": {
					"fileName": "[parameters('srcComplaintsBlobZip_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('srcComplaintsBlobZip_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ComplaintsBlobZip')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/srcComplaintsHttpZip')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "NHTSADownload",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SR"
				},
				"annotations": [],
				"type": "HttpFile",
				"typeProperties": {
					"relativeUrl": "/downloads/folders/Complaints/FLAT_CMPL.zip",
					"requestMethod": "GET"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/NHTSADownload')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Archive Blob Container')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureStorage",
				"typeProperties": {
					"connectionString": "[parameters('Archive Blob Container_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricks1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://eastus.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricks1_accessToken')]"
					},
					"newClusterNodeType": "Standard_DS3_v2",
					"newClusterNumOfWorker": "1",
					"newClusterVersion": "5.0.x-scala2.11",
					"newClusterInitScripts": []
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ComplaintsBlobZip')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureStorage",
				"typeProperties": {
					"connectionString": "[parameters('ComplaintsBlobZip_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ComplaintsSourceZip')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('ComplaintsSourceZip_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous",
					"username": "[parameters('ComplaintsSourceZip_properties_typeProperties_username')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MyAzureBlobLinkedService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Replace with the valid credential before running data flow job.",
				"annotations": [],
				"type": "AzureStorage",
				"typeProperties": {
					"connectionString": "[parameters('MyAzureBlobLinkedService_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MyDataBricksLinkedService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Replace with the valid credential before running data flow job.",
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://eastus.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('MyDataBricksLinkedService_accessToken')]"
					},
					"newClusterNodeType": "Standard_DS3_v2",
					"newClusterNumOfWorker": "2:8",
					"newClusterVersion": "4.0.x-scala2.11",
					"newClusterInitScripts": []
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/NHTSADownload')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('NHTSADownload_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/cseferlistestdb1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('cseferlistestdb1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/destComplaintsDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('destComplaintsDB_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_demo')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('df_demo_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sqldbAWLT')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('sqldbAWLT_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/srcComplaintsBlob')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureStorage",
				"typeProperties": {
					"connectionString": "[parameters('srcComplaintsBlob_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_sqldbAWLT')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('src_sqldbAWLT_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/staging')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureStorage",
				"typeProperties": {
					"connectionString": "[parameters('staging_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Daily Update')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "ComplainsCopyFromWebToBlob",
							"type": "PipelineReference"
						},
						"parameters": {
							"receiver": "[parameters('Daily Update_properties_ComplainsCopyFromWebToBlob_parameters_receiver')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2021-08-02T22:30:00",
						"timeZone": "Eastern Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ComplainsCopyFromWebToBlob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Union Complaints and tmpComplaints')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "srcComplaints",
								"type": "DatasetReference"
							},
							"name": "sqlComplaints"
						},
						{
							"dataset": {
								"referenceName": "srcCMPL_Temp",
								"type": "DatasetReference"
							},
							"name": "sqlCMPLTemp"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "srcComplaints",
								"type": "DatasetReference"
							},
							"name": "destComplaints"
						}
					],
					"transformations": [
						{
							"name": "unionComplaints"
						},
						{
							"name": "Select1"
						},
						{
							"name": "Select2"
						}
					],
					"script": "source(output(\n\t\tComplaints_ID as integer,\n\t\tCMPLID as string,\n\t\tODINO as string,\n\t\tMFR_NAME as string,\n\t\tMAKETXT as string,\n\t\tMODELTXT as string,\n\t\tYEARTXT as string,\n\t\tCRASH as string,\n\t\tFAILDATE as string,\n\t\tFIRE as string,\n\t\tINJURED as decimal(18,0),\n\t\tDEATHS as decimal(18,0),\n\t\tCOMPDESC as string,\n\t\tCITY as string,\n\t\tSTATE as string,\n\t\tVIN as string,\n\t\tDATEA as string,\n\t\tLDATE as string,\n\t\tMILES as decimal(18,0),\n\t\tOCCURENCES as decimal(18,0),\n\t\tCDESCR as string,\n\t\tCMPL_TYPE as string,\n\t\tPOLICE_RPT_YN as string,\n\t\tPURCH_DT as string,\n\t\tORIG_OWNER_YN as string,\n\t\tANTI_BRAKES_YN as string,\n\t\tCRUISE_CONT_YN as string,\n\t\tNUM_CYLS as decimal(18,0),\n\t\tDRIVE_TRAIN as string,\n\t\tFUEL_SYS as string,\n\t\tFUEL_TYPE as string,\n\t\tTRANS_TYPE as string,\n\t\tVEH_SPEED as decimal(18,0),\n\t\tDOT as string,\n\t\tTIRE_SIZE as string,\n\t\tLOC_OF_TIRE as string,\n\t\tTIRE_FAIL_TYPE as string,\n\t\tORIG_EQUIP_YN as string,\n\t\tMANUF_DT as string,\n\t\tSEAT_TYPE as string,\n\t\tRESTRAINT_TYE as string,\n\t\tDEALER_NAME as string,\n\t\tDEALER_TEL as string,\n\t\tDEALER_CITY as string,\n\t\tDEALER_STATE as string,\n\t\tDEALER_ZIP as string,\n\t\tPROD_TYPE as string,\n\t\tREPAIRED_YN as string,\n\t\tMEDICAL_ATTN as string,\n\t\tVEHICLES_TOWED_YN as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> sqlComplaints\nsource(output(\n\t\tComplaints_ID as integer,\n\t\tCMPLID as string,\n\t\tODINO as string,\n\t\tMFR_NAME as string,\n\t\tMAKETXT as string,\n\t\tMODELTXT as string,\n\t\tYEARTXT as string,\n\t\tCRASH as string,\n\t\tFAILDATE as string,\n\t\tFIRE as string,\n\t\tINJURED as decimal(18,0),\n\t\tDEATHS as decimal(18,0),\n\t\tCOMPDESC as string,\n\t\tCITY as string,\n\t\tSTATE as string,\n\t\tVIN as string,\n\t\tDATEA as string,\n\t\tLDATE as string,\n\t\tMILES as decimal(18,0),\n\t\tOCCURENCES as decimal(18,0),\n\t\tCDESCR as string,\n\t\tCMPL_TYPE as string,\n\t\tPOLICE_RPT_YN as string,\n\t\tPURCH_DT as string,\n\t\tORIG_OWNER_YN as string,\n\t\tANTI_BRAKES_YN as string,\n\t\tCRUISE_CONT_YN as string,\n\t\tNUM_CYLS as decimal(18,0),\n\t\tDRIVE_TRAIN as string,\n\t\tFUEL_SYS as string,\n\t\tFUEL_TYPE as string,\n\t\tTRANS_TYPE as string,\n\t\tVEH_SPEED as decimal(18,0),\n\t\tDOT as string,\n\t\tTIRE_SIZE as string,\n\t\tLOC_OF_TIRE as string,\n\t\tTIRE_FAIL_TYPE as string,\n\t\tORIG_EQUIP_YN as string,\n\t\tMANUF_DT as string,\n\t\tSEAT_TYPE as string,\n\t\tRESTRAINT_TYE as string,\n\t\tDEALER_NAME as string,\n\t\tDEALER_TEL as string,\n\t\tDEALER_CITY as string,\n\t\tDEALER_STATE as string,\n\t\tDEALER_ZIP as string,\n\t\tPROD_TYPE as string,\n\t\tREPAIRED_YN as string,\n\t\tMEDICAL_ATTN as string,\n\t\tVEHICLES_TOWED_YN as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: true,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> sqlCMPLTemp\nSelect1, Select2 union(byName: true)~> unionComplaints\nsqlComplaints select(mapColumn(\n\t\tCMPLID,\n\t\tODINO,\n\t\tMFR_NAME,\n\t\tMAKETXT,\n\t\tMODELTXT,\n\t\tYEARTXT,\n\t\tCRASH,\n\t\tFAILDATE,\n\t\tFIRE,\n\t\tINJURED,\n\t\tDEATHS,\n\t\tCOMPDESC,\n\t\tCITY,\n\t\tSTATE,\n\t\tVIN,\n\t\tDATEA,\n\t\tLDATE,\n\t\tMILES,\n\t\tOCCURENCES,\n\t\tCDESCR,\n\t\tCMPL_TYPE,\n\t\tPOLICE_RPT_YN,\n\t\tPURCH_DT,\n\t\tORIG_OWNER_YN,\n\t\tANTI_BRAKES_YN,\n\t\tCRUISE_CONT_YN,\n\t\tNUM_CYLS,\n\t\tDRIVE_TRAIN,\n\t\tFUEL_SYS,\n\t\tFUEL_TYPE,\n\t\tTRANS_TYPE,\n\t\tVEH_SPEED,\n\t\tDOT,\n\t\tTIRE_SIZE,\n\t\tLOC_OF_TIRE,\n\t\tTIRE_FAIL_TYPE,\n\t\tORIG_EQUIP_YN,\n\t\tMANUF_DT,\n\t\tSEAT_TYPE,\n\t\tRESTRAINT_TYE,\n\t\tDEALER_NAME,\n\t\tDEALER_TEL,\n\t\tDEALER_CITY,\n\t\tDEALER_STATE,\n\t\tDEALER_ZIP,\n\t\tPROD_TYPE,\n\t\tREPAIRED_YN,\n\t\tMEDICAL_ATTN,\n\t\tVEHICLES_TOWED_YN\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select1\nsqlCMPLTemp select(mapColumn(\n\t\tCMPLID,\n\t\tODINO,\n\t\tMFR_NAME,\n\t\tMAKETXT,\n\t\tMODELTXT,\n\t\tYEARTXT,\n\t\tCRASH,\n\t\tFAILDATE,\n\t\tFIRE,\n\t\tINJURED,\n\t\tDEATHS,\n\t\tCOMPDESC,\n\t\tCITY,\n\t\tSTATE,\n\t\tVIN,\n\t\tDATEA,\n\t\tLDATE,\n\t\tMILES,\n\t\tOCCURENCES,\n\t\tCDESCR,\n\t\tCMPL_TYPE,\n\t\tPOLICE_RPT_YN,\n\t\tPURCH_DT,\n\t\tORIG_OWNER_YN,\n\t\tANTI_BRAKES_YN,\n\t\tCRUISE_CONT_YN,\n\t\tNUM_CYLS,\n\t\tDRIVE_TRAIN,\n\t\tFUEL_SYS,\n\t\tFUEL_TYPE,\n\t\tTRANS_TYPE,\n\t\tVEH_SPEED,\n\t\tDOT,\n\t\tTIRE_SIZE,\n\t\tLOC_OF_TIRE,\n\t\tTIRE_FAIL_TYPE,\n\t\tORIG_EQUIP_YN,\n\t\tMANUF_DT,\n\t\tSEAT_TYPE,\n\t\tRESTRAINT_TYE,\n\t\tDEALER_NAME,\n\t\tDEALER_TEL,\n\t\tDEALER_CITY,\n\t\tDEALER_STATE,\n\t\tDEALER_ZIP,\n\t\tPROD_TYPE,\n\t\tREPAIRED_YN,\n\t\tMEDICAL_ATTN,\n\t\tVEHICLES_TOWED_YN\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select2\nunionComplaints sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tComplaints_ID as integer,\n\t\tCMPLID as string,\n\t\tODINO as string,\n\t\tMFR_NAME as string,\n\t\tMAKETXT as string,\n\t\tMODELTXT as string,\n\t\tYEARTXT as string,\n\t\tCRASH as string,\n\t\tFAILDATE as string,\n\t\tFIRE as string,\n\t\tINJURED as decimal(18,0),\n\t\tDEATHS as decimal(18,0),\n\t\tCOMPDESC as string,\n\t\tCITY as string,\n\t\tSTATE as string,\n\t\tVIN as string,\n\t\tDATEA as string,\n\t\tLDATE as string,\n\t\tMILES as decimal(18,0),\n\t\tOCCURENCES as decimal(18,0),\n\t\tCDESCR as string,\n\t\tCMPL_TYPE as string,\n\t\tPOLICE_RPT_YN as string,\n\t\tPURCH_DT as string,\n\t\tORIG_OWNER_YN as string,\n\t\tANTI_BRAKES_YN as string,\n\t\tCRUISE_CONT_YN as string,\n\t\tNUM_CYLS as decimal(18,0),\n\t\tDRIVE_TRAIN as string,\n\t\tFUEL_SYS as string,\n\t\tFUEL_TYPE as string,\n\t\tTRANS_TYPE as string,\n\t\tVEH_SPEED as decimal(18,0),\n\t\tDOT as string,\n\t\tTIRE_SIZE as string,\n\t\tLOC_OF_TIRE as string,\n\t\tTIRE_FAIL_TYPE as string,\n\t\tORIG_EQUIP_YN as string,\n\t\tMANUF_DT as string,\n\t\tSEAT_TYPE as string,\n\t\tRESTRAINT_TYE as string,\n\t\tDEALER_NAME as string,\n\t\tDEALER_TEL as string,\n\t\tDEALER_CITY as string,\n\t\tDEALER_STATE as string,\n\t\tDEALER_ZIP as string,\n\t\tPROD_TYPE as string,\n\t\tREPAIRED_YN as string,\n\t\tMEDICAL_ATTN as string,\n\t\tVEHICLES_TOWED_YN as string\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\ttruncate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> destComplaints"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/srcComplaints')]",
				"[concat(variables('factoryId'), '/datasets/srcCMPL_Temp')]"
			]
		}
	]
}