cbsADFDemo/PartialArmTemplates/ArmTemplate_7_31_2021_14_7_57.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "cbsADFDemo"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ComplainsCopyFromWebToBlob')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Truncate CMPL Temp",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_Truncate_CMPL_Temp]"
						},
						"linkedServiceName": {
							"referenceName": "cseferlistestdb1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Send Success Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Send Zip to Archive",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-02.eastus.logic.azure.com:443/workflows/8c6774ef72b341d49e189c6d9fc7227e/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=qsZ8iz5TeG70Iaf54sQ--KlybPeTAbpRgph4Emknezk",
							"method": "POST",
							"headers": {
								"Content-Type": "Application/json"
							},
							"body": {
								"dataFactoryName": "@{pipeline().DataFactory}",
								"pipelineName": "@{pipeline().Pipeline}",
								"receiver": "@pipeline().parameters.receiver"
							}
						}
					},
					{
						"name": "Send Failure Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Truncate CMPL Temp",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "Union Complaints and tmpComplaints",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "Move from Http to Blob as zip",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "Unzip to SQL CMPL_Temp",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "Send Zip to Archive",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-03.eastus.logic.azure.com:443/workflows/8355738f60d84cce99d60f0dcb94cb4f/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=tdhxl4qxE72wxNMX6dxFoNdAlcVfsmz1_3khFhhtDYU",
							"method": "POST",
							"headers": {
								"Content-Type": "Application/json"
							},
							"body": {
								"dataFactoryName": "@{pipeline().DataFactory}",
								"pipelineName": "@{pipeline().Pipeline}",
								"receiver": "@pipeline().parameters.receiver"
							}
						}
					},
					{
						"name": "Union Complaints and tmpComplaints",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Unzip to SQL CMPL_Temp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Union Complaints and tmpComplaints",
								"type": "DataFlowReference"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Move from Http to Blob as zip",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Truncate CMPL Temp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "srcComplaintsHttpZip",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "destComplaintsZipBlob",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Unzip to SQL CMPL_Temp",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Move from Http to Blob as zip",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "srcComplaintsBlob",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "destComplaintsSQLTempTbl",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Send Zip to Archive",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Union Complaints and tmpComplaints",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "srcComplaintsBlobZip",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "ArchiveBlob",
								"type": "DatasetReference"
							}
						]
					}
				],
				"parameters": {
					"receiver": {
						"type": "String",
						"defaultValue": "cseferlis@gmail.com"
					}
				},
				"folder": {
					"name": "SR"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/srcComplaintsBlob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/srcComplaintsBlob')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "srcComplaintsBlob",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SR"
				},
				"annotations": [],
				"type": "AzureBlob",
				"structure": [
					{
						"name": "CMPLID",
						"type": "String"
					},
					{
						"name": "ODINO",
						"type": "String"
					},
					{
						"name": "MFR_NAME",
						"type": "String"
					},
					{
						"name": "MAKETXT",
						"type": "String"
					},
					{
						"name": "MODELTXT",
						"type": "String"
					},
					{
						"name": "YEARTXT",
						"type": "String"
					},
					{
						"name": "CRASH",
						"type": "String"
					},
					{
						"name": "FAILDATE",
						"type": "String"
					},
					{
						"name": "FIRE",
						"type": "String"
					},
					{
						"name": "INJURED",
						"type": "Decimal"
					},
					{
						"name": "DEATHS",
						"type": "Decimal"
					},
					{
						"name": "COMPDESC",
						"type": "String"
					},
					{
						"name": "CITY",
						"type": "String"
					},
					{
						"name": "STATE",
						"type": "String"
					},
					{
						"name": "VIN",
						"type": "String"
					},
					{
						"name": "DATEA",
						"type": "String"
					},
					{
						"name": "LDATE",
						"type": "String"
					},
					{
						"name": "MILES",
						"type": "Decimal"
					},
					{
						"name": "OCCURENCES",
						"type": "Decimal"
					},
					{
						"name": "CDESCR",
						"type": "String"
					},
					{
						"name": "CMPL_TYPE",
						"type": "String"
					},
					{
						"name": "POLICE_RPT_YN",
						"type": "String"
					},
					{
						"name": "PURCH_DT",
						"type": "String"
					},
					{
						"name": "ORIG_OWNER_YN",
						"type": "String"
					},
					{
						"name": "ANTI_BRAKES_YN",
						"type": "String"
					},
					{
						"name": "CRUISE_CONT_YN",
						"type": "String"
					},
					{
						"name": "NUM_CYLS",
						"type": "Decimal"
					},
					{
						"name": "DRIVE_TRAIN",
						"type": "String"
					},
					{
						"name": "FUEL_SYS",
						"type": "String"
					},
					{
						"name": "FUEL_TYPE",
						"type": "String"
					},
					{
						"name": "TRANS_TYPE",
						"type": "String"
					},
					{
						"name": "VEH_SPEED",
						"type": "Decimal"
					},
					{
						"name": "DOT",
						"type": "String"
					},
					{
						"name": "TIRE_SIZE",
						"type": "String"
					},
					{
						"name": "LOC_OF_TIRE",
						"type": "String"
					},
					{
						"name": "TIRE_FAIL_TYPE",
						"type": "String"
					},
					{
						"name": "ORIG_EQUIP_YN",
						"type": "String"
					},
					{
						"name": "MANUF_DT",
						"type": "String"
					},
					{
						"name": "SEAT_TYPE",
						"type": "String"
					},
					{
						"name": "RESTRAINT_TYE",
						"type": "String"
					},
					{
						"name": "DEALER_NAME",
						"type": "String"
					},
					{
						"name": "DEALER_TEL",
						"type": "String"
					},
					{
						"name": "DEALER_CITY",
						"type": "String"
					},
					{
						"name": "DEALER_STATE",
						"type": "String"
					},
					{
						"name": "DEALER_ZIP",
						"type": "String"
					},
					{
						"name": "PROD_TYPE",
						"type": "String"
					},
					{
						"name": "REPAIRED_YN",
						"type": "String"
					},
					{
						"name": "MEDICAL_ATTN",
						"type": "String"
					},
					{
						"name": "VEHICLES_TOWED_YN",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": "\t",
						"rowDelimiter": "\n",
						"quoteChar": "\"",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"compression": {
						"type": "ZipDeflate",
						"level": "Fastest"
					},
					"fileName": "FLAT_CMPL.zip",
					"folderPath": "adfdemoblob/downloads/folders/Complaints"
				}
			},
			"dependsOn": []
		}
	]
}